header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 0 1px #000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 576px) {
        flex-direction: column;
    }
}

.slogan {
    font-size: 14px;

    @media screen and (max-width: 576px) {
        margin: 10px 0;
    }
}