		@@include("../blocks/modules/header/header.html")
		
		<!-- graph form light -->
		<img src="img/svg/graphFormRight.svg" class="formRight formLight" alt="">
		<img src="img/svg/graphFormLeft.svg" class="formLeft formLight" alt="">
		<img src="img/svg/graphFormLeftTwo.svg" class="formLeftTwo formLight" alt="">
		<img src="img/svg/graphFormRightTwo.svg" class="formRightTwo formLight" alt="">
		
		<!-- graph form black -->
		<img src="img/svg/graphFormRightBlack.svg" class="formRight formBlack" alt="">
		<img src="img/svg/graphFormLeftBlack.svg" class="formLeft formBlack" alt="">
		<img src="img/svg/graphFormLeftTwoBlack.svg" class="formLeftTwo formBlack" alt="">
		<img src="img/svg/graphFormRightTwoBlack.svg" class="formRightTwo formBlack" alt="">

        <section class="container">
			<div class="greeting-text">
				<img src="img/svg/it2b-circle-i.svg" class="img-circle-i img-circle-i--light" alt="">
				<img src="img/svg/it2b-ru.svg" class="it2b-logo it2b-logo--light" alt="">

				<img src="img/svg/it2b-circle-i-black.svg" class="img-circle-i img-circle-i--black" alt="">
				<img src="img/svg/it2b-ru-black.svg" class="it2b-logo it2b-logo--black" alt="">
			</div>
			<div class="block-show-portfolio">
				<button class="show-portfolio">
					<div class="text"></div>
				</button>
			</div>
		</section>
		
		<section class="section section--down-right-line container" id="about">
			<div class="wrapper">
				<div class="about">
					<img src="img/svg/about-headline.svg" class="section-headline" alt="">
					<span class="section-number"></span>
					<span class="about-text">
						Компания <b>IT2B</b> занимается разработкой <b>инновационных решений и сайтов</b> для Вашего бизнеса.
					</span>
					<span class="about-text">
						На каждом этапе нашей с Вами работы Вас сопровождают <b>профессионалы</b> 
						и помогают добиться <b>наилучшего результата</b> поставленной задачи.
					</span>
					<div class="features">
						<div class="feature">
							<img src="img/svg/service-item1-ru.svg" class="feature__img feature__img--light" alt="">
							<img src="img/svg/service-item1-ru-black.svg" class="feature__img feature__img--black" alt="">
							<span class="feature__text">Сплоченная команда</span>
						</div>
						<div class="feature">
							<img src="img/svg/service-item2-ru.svg" class="feature__img feature__img--light" alt="">
							<img src="img/svg/service-item2-ru-black.svg" class="feature__img feature__img--black" alt="">
							<span class="feature__text">Налаженный процесс работы</span>
						</div>
						<div class="feature">
							<img src="img/svg/service-item3-ru.svg" class="feature__img feature__img--light" alt="">
							<img src="img/svg/service-item3-ru-black.svg" class="feature__img feature__img--black" alt="">
							<span class="feature__text">Соблюдение дедлайнов</span>
						</div>
					</div>
				</div>
			</div>
			<div class="down-line-section">
				<img src="img/svg/down-line-section.svg" class="down-line-right" alt="">
			</div>
		</section>

		<div class="important important--ru">
			<span>IT2B рядом с Вами от начала работы и до завершения любого проекта, любой сложности.</span>
		</div>

		<section class="section section--down-right-line container" id="services">
			<div class="service">
				<img src="img/svg/service-headline.svg" class="section-headline" alt="">
				<span class="section-number"></span>
			</div>
			<div class="down-line-section">
				<img src="img/svg/down-line-section.svg" class="down-line-right" alt="">
			</div>

			<div class="wrapper">
				<div class="block-services">
					<div class="services">
						<ul class="services__list">
							<li class="services__item"><span>Продвижение сайтов в поисковых машинах</span></li>
							<li class="services__item"><span>Редизайн Вашего сайта</span></li>
							<li class="services__item"><span>Обслуживание Вашего сайта</span></li>
						</ul>
					</div>
					<h2 class="headline-primary">Какие сайты <br> мы разрабатываем</h2>
					<div class="services">
						<ul class="services__list">
							<li class="services__item"><span>Корпоративный сайт</span></li>
							<li class="services__item"><span>Интернет - магазин</span></li>
							<li class="services__item"><span>Промо - сайт</span></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section class="section section--down-left-line container">

			<div class="wrapper">
				<form action="" class="form">
					<p class="form__title">Напишите нам</p>
					<span class="form__text">Наш специалист свяжется с Вами в ближайшее время</span>
					<div class="form__content">
						<label class="input-container">
							<input type="text" placeholder=" " required>
							<span class="title-input">Имя</span>
							<span class="error">Введите Ваше имя</span>
						</label>
						<label class="input-container">
							<input type="text" placeholder=" " required>
							<span class="title-input">email</span>
							<span class="error">Введите Вашу электронную почту</span>
						</label>
						<label class="textarea-container">
							<textarea class="textarea" placeholder=" "></textarea>
							<span class="title-input">Описание</span>
						</label>
						<div class="button-wrapper button-wrapper--center">
							<button class="button button--primary" type="submit"><span>Отправить</span></button>
						</div>
					</div>
				</form>
			</div>
			<div class="down-line-section">
				<img src="img/svg/down-line-section-left.svg" class="down-line-left" alt="">
			</div>
		</section>
          
        @@include("../blocks/modules/footer/footer.html")
