@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation-ease {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes right-ease {
  100% {
    left: 105px;
  }
}

@keyframes left-ease {
  100% {
    left: 6px;
  }
}

body {
  position: relative;
  background: #F0F0F3;
  font-family: 'Montserrat', sans-serif;
  color: #a8a8a8;
  overflow-x: hidden;
  counter-reset: section;
  overflow-x: hidden;
  transition: .3s ease all;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  outline: none;
}

main {
  position: relative;
  padding-top: 130px;
}

.wrapper {
  margin: 0 120px;
}

.inside-wrapper {
  padding: 0 200px;
  margin: 100px 0;
}

.container {
  position: relative;
  margin: 0 auto;
}

.section--down-right-line {
  padding-bottom: 200px;
}

.section--down-left-line {
  padding-bottom: 200px;
}

.headline-primary {
  margin: 118px 0;
  margin-left: 131px;
  margin-bottom: 90px;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #636369;
}

.headline-primary br {
  display: none;
}

.button-wrapper {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.button-wrapper.button-wrapper--left {
  justify-content: flex-start;
}

.button-wrapper.button-wrapper--center {
  justify-content: center;
}

.button-wrapper.button-wrapper--right {
  justify-content: flex-end;
}

.button {
  padding: 17px 30px;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  transition: .3s ease all;
}

.button.button--primary {
  color: #FFFFFF;
  background: rgba(130, 130, 130, 0.7);
}

.button:hover {
  backdrop-filter: brightness(0.5);
  transform: scale(1.03);
}

.button:focus {
  backdrop-filter: brightness(0.3);
  transform: scale(0.95);
}

.formRight {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}

.formLeft {
  position: absolute;
  top: 280px;
  left: 0;
  z-index: 99;
}

.formLeftTwo {
  position: absolute;
  top: 2431px;
  left: -64px;
  z-index: 99;
}

.formRightTwo {
  position: absolute;
  bottom: -140px;
  right: 0;
  z-index: 99;
}

.formBlack {
  display: none;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  padding: 45px 100px;
  background: #F0F0F3;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.5);
  border-radius: 20px;
}

.form .form__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #636369;
}

.form .form__text {
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: #636369;
}

.form .form__content {
  width: 100%;
  margin-top: 50px;
}

.input-container {
  display: block;
  position: relative;
  width: 100%;
}

.input-container input {
  width: 100%;
  padding: 17px 19px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #828282;
  filter: drop-shadow(0px 0px 7px #7C7C7C);
  border-radius: 20px;
  transition: .3s ease all;
}

.input-container input + .title-input {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #636369;
  transform: translateY(-50%);
  transition: .3s ease all;
}

.input-container input ~ .error {
  display: none;
  position: absolute;
  left: 25px;
  bottom: -17px;
  font-size: 12px;
  color: #BD1D1D;
  transition: .3s ease all;
}

.input-container input ~ .error:before {
  content: "*";
  position: absolute;
  top: 50%;
  left: -8px;
  color: #BD1D1D;
  transform: translateY(-50%);
  transition: .3s ease all;
}

.input-container input:hover {
  filter: drop-shadow(0px 0px 3px #7C7C7C);
}

.input-container input:focus + .title-input {
  padding: 4px;
  top: -1px;
  left: 25px;
  background-color: #F0F0F3;
  font-size: 12px;
  border: 1px solid #636369;
  border-radius: 10px;
}

.input-container input:not(:placeholder-shown) + .title-input {
  padding: 4px;
  top: -1px;
  left: 25px;
  background-color: #F0F0F3;
  font-size: 12px;
  border: 1px solid #636369;
  border-radius: 10px;
}

.input-container input:invalid ~ .error {
  display: block;
}

.input-container:not(:last-child) {
  margin-bottom: 50px;
}

.textarea-container {
  display: block;
  position: relative;
}

.textarea-container .textarea {
  position: relative;
  width: 100%;
  height: 130px;
  padding: 17px 19px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #828282;
  filter: drop-shadow(0px 0px 7px #7C7C7C);
  border-radius: 20px;
  transition: .3s ease all;
}

.textarea-container .textarea + .title-input {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #636369;
  transition: .3s ease all;
}

.textarea-container .textarea:hover {
  filter: drop-shadow(0px 0px 3px #7C7C7C);
}

.textarea-container .textarea:focus + .title-input {
  padding: 4px;
  top: -10px;
  left: 25px;
  background-color: #F0F0F3;
  font-size: 12px;
  border: 1px solid #636369;
  border-radius: 10px;
}

.textarea-container .textarea:not(:placeholder-shown) + .title-input {
  padding: 4px;
  top: -10px;
  left: 25px;
  background-color: #F0F0F3;
  font-size: 12px;
  border: 1px solid #636369;
  border-radius: 10px;
}

.it2b-logo--black {
  display: none;
}

.dev {
  position: relative;
  width: 100%;
  object-fit: contain;
}

.languages {
  position: relative;
  margin-right: 400px;
}

.languages__list {
  width: 70px;
}

.languages__list .languages__item.languages__item--en {
  color: #21BBFE;
}

.languages__list .languages__item.languages__item--il {
  color: #1A7BFF;
}

.languages__list .languages__item.languages__item--ar {
  color: #149B6A;
}

.languages__list .language a {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  color: slategrey;
  text-decoration: none;
  transition: .3s ease all;
}

.languages__list .language a:hover {
  background-color: #dbdbdb;
}

.languages__list.close {
  display: none;
  transition: .3s ease all;
}

.greeting-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 170px;
  padding-bottom: 310px;
}

.greeting-text .img-circle-i {
  position: absolute;
  top: -122px;
  left: 128px;
}

.img-circle-i--black {
  display: none !important;
}

.block-show-portfolio {
  position: absolute;
  width: 225px;
  height: 225px;
  right: -97px;
  bottom: 0;
}

.show-portfolio {
  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  background: #F0F0F3;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
  border-radius: 100px;
  transition: .3s ease all;
}

.show-portfolio .text:before {
  content: "";
  position: absolute;
  width: 225px;
  height: 225px;
  top: -64px;
  left: -62px;
  background-image: url("/img/svg/text-show-portfolio.svg");
  background-repeat: no-repeat;
  background-size: contain;
  animation: rotation 25s infinite linear;
}

.show-portfolio:after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - 8px);
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 24px solid #F0F0F3;
  filter: drop-shadow(0 0 4px #7C7C7C);
  transform: translateY(-50%);
  transition: .3s ease all;
}

.show-portfolio:hover:after {
  transform: translateY(-50%) scale(1.1);
}

.show-portfolio:focus {
  box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.3);
}

.show-portfolio:focus:after {
  transform: translateY(-50%) scale(0.95);
}

.section {
  position: relative;
  margin-top: 85px !important;
}

.section-headline {
  position: absolute;
  top: -70px;
  left: -222px;
}

.section-number:before {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 144px;
  line-height: 216px;
  color: #F0F0F3;
  opacity: 0.7;
  text-shadow: -13px -10px 25px #FFFFFF, 10px 10px 25px rgba(174, 174, 192, 0.5);
  counter-increment: section;
  content: "0 " counter(section);
}

.about {
  padding-top: 213px;
}

.about .about-text {
  display: block;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-align: center;
}

.about .about-text:not(:last-child) {
  margin-bottom: 50px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

.features .feature__text {
  margin-top: 50px;
  font-family: Montserrat;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #636369;
}

.feature__img--black {
  display: none;
}

.important {
  position: relative;
  padding: 50px 250px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
  z-index: 7;
}

.important.important--ru {
  background-color: #a8a8a8;
}

.down-line-right {
  position: absolute;
  right: -110px;
  bottom: -95px;
  z-index: 1;
}

.down-line-left {
  position: absolute;
  left: -110px;
  bottom: -95px;
  z-index: 2;
}

.block-services {
  padding-top: 200px;
}

.services {
  padding-bottom: 20px;
}

.services .services__list {
  list-style-type: none;
}

.services .services__item {
  position: relative;
  padding-left: 72px;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #636369;
}

.services .services__item:not(:last-child) {
  margin-bottom: 53px;
}

.services .services__item:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 20px;
  border: 1px solid #828282;
  filter: drop-shadow(0px 0px 7px #7C7C7C);
  border-radius: 50px;
  transform: translateY(-50%);
}

.page-dark {
  background: #252525;
  color: rgba(255, 255, 255, 0.6);
  transition: .3s ease all;
}

.page-dark .hamburger {
  background: #252525;
  box-shadow: -5px -5px 15px rgba(56, 56, 56, 0.7), 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.page-dark .hamburger:focus {
  box-shadow: inset -10px -10px 10px rgba(56, 56, 56, 0.6), inset 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.page-dark .hamburger__line {
  background-color: rgba(255, 255, 255, 0.8);
}

.page-dark .menu__link {
  color: rgba(255, 255, 255, 0.6) !important;
}

.page-dark .ss-main {
  color: rgba(255, 255, 255, 0.6) !important;
}

.page-dark .change-theme,
.page-dark .accessibility {
  background: #252525;
  box-shadow: -10px -10px 15px rgba(56, 56, 56, 0.7), 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.page-dark .change-theme:hover,
.page-dark .accessibility:hover {
  box-shadow: inset -10px -10px 10px rgba(56, 56, 56, 0.6), inset 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.page-dark .change-theme .moon {
  display: none;
}

.page-dark .change-theme .sun {
  display: block !important;
  animation: rotation-ease 1s 1 linear;
  animation-fill-mode: forwards;
}

.page-dark .accessibility .eye {
  display: none;
}

.page-dark .accessibility .eye-black {
  display: block;
}

.page-dark .accessibility:hover .eye-black {
  display: none;
}

.page-dark .accessibility:hover .eye-black-big {
  display: block;
}

.page-dark .show-portfolio {
  background: #252525;
  box-shadow: -10px -10px 30px rgba(56, 56, 56, 0.7), 10px 10px 30px #000000;
}

.page-dark .show-portfolio:focus {
  box-shadow: inset -10px -10px 10px rgba(56, 56, 56, 0.6), inset 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.page-dark .section-number:before {
  color: #252525;
  text-shadow: -10px -10px 30px rgba(56, 56, 56, 0.7), 10px 10px 30px #000000;
}

.page-dark .input-container input {
  caret-color: rgba(255, 255, 255, 0.6);
}

.page-dark .input-container input:focus + .title-input {
  background-color: #252525;
}

.page-dark .input-container .title-input {
  color: rgba(255, 255, 255, 0.6) !important;
}

.page-dark .textarea-container textarea {
  caret-color: rgba(255, 255, 255, 0.6);
}

.page-dark .textarea-container textarea:focus + .title-input {
  background-color: #252525;
}

.page-dark .textarea-container .title-input {
  color: rgba(255, 255, 255, 0.6) !important;
}

.page-dark .formLight {
  display: none;
}

.page-dark .formBlack {
  display: block;
}

.page-dark .it2b-logo--light {
  display: none;
}

.page-dark .it2b-logo--black {
  display: block;
}

.page-dark .img-circle-i--light {
  display: none !important;
}

.page-dark .img-circle-i--black {
  display: block !important;
}

.page-dark .feature__img--light {
  display: none;
}

.page-dark .feature__img--black {
  display: block;
}

.page-dark .feature__text {
  color: rgba(255, 255, 255, 0.6) !important;
}

.page-dark .services__item {
  color: rgba(255, 255, 255, 0.6) !important;
}

.page-dark .headline-primary {
  color: rgba(255, 255, 255, 0.6) !important;
}

.page-dark .form {
  background: #252525;
  box-shadow: -10px -10px 30px rgba(56, 56, 56, 0.4), 10px 10px 40px rgba(0, 0, 0, 0.7);
}

.page-dark .form__title {
  color: rgba(255, 255, 255, 0.6) !important;
}

.page-dark .form__text {
  color: rgba(255, 255, 255, 0.6) !important;
}

.ss-main {
  width: 120px !important;
}

.ss-main .ss-single-selected {
  border: none !important;
  background-color: transparent !important;
}

.ss-content {
  border: none !important;
  background-color: transparent !important;
  backdrop-filter: blur(10px);
  box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 20px rgba(174, 174, 192, 0.5);
}

.ss-content .ss-search {
  display: none !important;
}

.ss-content .ss-list {
  backdrop-filter: blur(10px);
}

header {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 9;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
}

.hamburger {
  display: none;
  position: absolute;
  padding: 0;
  top: 13px;
  left: 11px;
  width: 40px;
  height: 40px;
  background: #F0F0F3;
  border: none;
  box-shadow: -3px -3px 10px #FFFFFF, 3px 3px 10px rgba(174, 174, 192, 0.5);
  border-radius: 5px;
  transition: .3s ease all;
  z-index: 999999;
}

.hamburger:focus {
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.7), inset 5px 5px 15px rgba(174, 174, 192, 0.4);
}

.hamburger .hamburger__line {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 1px;
  background-color: #636369;
  transform: translateX(-50%);
}

.hamburger .hamburger__line:first-child {
  top: 12px;
}

.hamburger .hamburger__line:nth-child(2) {
  top: 19px;
}

.hamburger .hamburger__line:last-child {
  top: 26px;
}

.hamburger.hamburger--open {
  animation: right-ease .5s 1 ease-in-out forwards;
}

.hamburger.hamburger--open .hamburger__line {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 1px;
  background-color: #636369;
  transform: translateX(-50%);
}

.hamburger.hamburger--open .hamburger__line:first-child {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.hamburger--open .hamburger__line:nth-child(2) {
  display: none;
}

.hamburger.hamburger--open .hamburger__line:last-child {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.logotype__logo {
  width: 104px;
}

.menu {
  display: flex;
  flex-grow: 1;
  margin-left: 30px;
}

.menu .logotype {
  display: none;
}

.menu .menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.menu .menu__item:not(:last-child) {
  margin-right: 70px;
}

.menu .menu__link {
  font-size: 18px;
  line-height: 22px;
  color: #636369;
  text-decoration: none;
  padding: 10px;
  transition: .3s ease all;
}

.menu .menu__link:hover {
  background: #F0F0F3;
  box-shadow: -7px -7px 20px #FFFFFF, 7px 7px 20px rgba(174, 174, 192, 0.5);
  border-radius: 5px;
}

.menu .menu__link:focus {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.7), inset 10px 10px 15px rgba(174, 174, 192, 0.3);
}

.change-theme {
  position: absolute;
  right: 319px;
  width: 60px;
  height: 145px;
  background: #F0F0F3;
  border: none;
  box-shadow: -3px -3px 10px #ffffff, 3px 3px 10px rgba(174, 174, 192, 0.5);
  border-radius: 0 0 30px 30px;
  transform: translateY(-20%);
  transition: .5s ease all;
}

.change-theme svg {
  position: absolute;
  bottom: 31px;
  left: 19px;
  width: 25px;
  height: 27px;
  transition: .5s ease all;
}

.change-theme .sun {
  display: none;
  width: 30px;
  height: 30px;
  left: 16px;
}

.change-theme:hover {
  box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.3);
}

.change-theme:hover svg {
  transform: scale(1.1);
}

.accessibility {
  position: absolute;
  right: 228px;
  width: 60px;
  height: 145px;
  background: #F0F0F3;
  border: none;
  box-shadow: -3px -3px 10px #ffffff, 3px 3px 10px rgba(174, 174, 192, 0.5);
  border-radius: 0 0 30px 30px;
  transform: translateY(-20%);
  transition: .5s ease all;
}

.accessibility svg {
  position: absolute;
  bottom: 31px;
  left: 7.5px;
  width: 44px;
  height: 22px;
  transition: .5s ease all;
}

.accessibility .eye-big {
  display: none;
}

.accessibility .eye-black {
  display: none;
}

.accessibility .eye-black-big {
  display: none;
}

.accessibility:hover {
  box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.3);
}

.accessibility:hover .eye {
  display: none;
}

.accessibility:hover .eye-big {
  display: block;
}

footer {
  position: relative;
  background: rgba(130, 130, 130, 0.7);
  z-index: 99;
}

.footer {
  display: flex;
  padding: 25px;
}

.footer .menu-footer {
  display: flex;
}

.footer .menu-footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}

.footer .menu-footer__list:not(:last-child) {
  margin-right: 125px;
}

.footer .menu-footer__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer .menu-footer__link {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (min-width: 320px) {
  .wrapper {
    margin: 0 30px;
  }

  .container {
    width: 320px;
  }

  .section--down-right-line {
    padding-bottom: 60px;
  }

  .headline-primary {
    padding-bottom: 100px;
    margin: 56px 0;
    margin-left: 0px;
    margin-bottom: -74px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  .headline-primary br {
    display: block;
  }

  .button-wrapper {
    margin-top: 20px;
  }

  .button {
    padding: 5px 15px;
    font-size: 12px;
  }

  .formRight {
    top: 31px;
    right: -100px;
    width: 188px;
    height: 213px;
    transform: rotate(28deg);
  }

  .formLeft {
    top: 366px;
    left: -49px;
    width: 188px;
    height: 213px;
  }

  .formLeftTwo {
    top: 1874px;
    left: 0;
    width: 72px;
    height: 177px;
  }

  .formRightTwo {
    bottom: -99px;
    right: -71px;
    width: 230px;
    height: 260px;
  }

  .form {
    margin-top: 60px;
    padding: 21px 25px;
  }

  .form .form__title {
    font-size: 12px;
  }

  .form .form__text {
    font-size: 12px;
    text-align: center;
  }

  .input-container input {
    padding: 9px 14px;
    border-radius: 10px;
    font-size: 12px;
  }

  .input-container input + .title-input {
    font-size: 12px;
  }

  .input-container input ~ .error {
    left: 20px;
    font-size: 8px;
  }

  .input-container input:focus + .title-input {
    font-size: 8px;
  }

  .input-container input:not(:placeholder-shown) + .title-input {
    font-size: 8px;
  }

  .textarea-container .textarea {
    padding: 9px 14px;
    height: 70px;
    padding-top: 16px;
    border-radius: 10px;
    font-size: 12px;
  }

  .textarea-container .textarea + .title-input {
    font-size: 12px;
  }

  .textarea-container .textarea:focus + .title-input {
    font-size: 8px;
  }

  .textarea-container .textarea:not(:placeholder-shown) + .title-input {
    font-size: 8px;
  }

  .it2b-logo {
    width: 259px;
    height: 127px;
  }

  .languages {
    margin-right: 94px;
  }

  .greeting-text {
    margin-top: 29px;
    padding-bottom: 178px;
  }

  .greeting-text .img-circle-i {
    display: none;
  }

  .block-show-portfolio {
    bottom: -145px;
  }

  .show-portfolio {
    position: absolute;
    right: 145px;
    bottom: 179px;
    width: 60px;
    height: 60px;
  }

  .show-portfolio .text:before {
    width: 130px;
    height: 130px;
    top: -37px;
    left: -35px;
  }

  .show-portfolio:after {
    left: calc(50% - 5px);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 16px solid #F0F0F3;
  }

  .section {
    margin-top: 30px !important;
  }

  .section-headline {
    width: 362px;
    height: 190px;
    top: -3px;
    left: -85px;
  }

  .section-number:before {
    top: 71px;
    right: 16px;
    font-size: 54px;
    line-height: 86px;
  }

  .about {
    padding-top: 180px;
  }

  .about .about-text {
    font-size: 12px;
    line-height: 21px;
  }

  .about .about-text:not(:last-child) {
    margin-bottom: 27px;
  }

  .features {
    flex-direction: column;
    margin-top: 50px;
  }

  .features .feature:not(:last-child) {
    margin-bottom: 60px;
  }

  .features .feature__text {
    margin-top: 7px;
    width: 140px;
    font-size: 12px;
  }

  .features .feature__img {
    width: 81px;
  }

  .important {
    padding: 22px;
    font-size: 12px;
    line-height: 14px;
  }

  .down-line-right {
    width: 99px;
    height: 122px;
    right: 1px;
    bottom: 2px;
  }

  .down-line-left {
    width: 99px;
    height: 122px;
    left: -4px;
    bottom: 2px;
  }

  .block-services {
    padding-top: 180px;
  }

  .services .services__item {
    width: 218px;
    padding-left: 60px;
    font-size: 12px;
    line-height: 16px;
  }

  .services .services__item:not(:last-child) {
    margin-bottom: 34px;
  }

  .services .services__item:before {
    left: 35px;
    width: 10px;
    height: 10px;
  }

  .menu .logotype {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
  }

  .menu .menu__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu .menu__item:not(:last-child) {
    margin: 0;
    margin-bottom: 15px;
  }

  .change-theme {
    top: -60px;
    right: 123px;
    width: 37px;
  }

  .change-theme svg {
    bottom: 19px;
    left: 10.5px;
    width: 15px;
    height: 15px;
  }

  .accessibility {
    top: -60px;
    right: 63px;
    width: 37px;
  }

  .accessibility svg {
    bottom: 19px;
    left: 2.5px;
    width: 28px;
    height: 14px;
  }

  .footer {
    padding: 17px 20px;
  }

  .footer .menu-footer__list:not(:last-child) {
    margin-right: 40px;
  }

  .footer .menu-footer__title {
    font-size: 12px;
  }

  .footer .menu-footer__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 576px) {
  main {
    padding-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin: 0 40px;
  }

  .container {
    width: 682px;
  }

  .section--down-right-line {
    padding-bottom: 138px;
  }

  .headline-primary {
    padding-bottom: 142px;
    font-size: 20px;
  }

  .headline-primary br {
    display: none;
  }

  .button-wrapper {
    margin-top: 30px;
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .formRight {
    top: 62px;
    right: -245px;
    width: 473px;
    height: 457px;
  }

  .formLeft {
    top: 647px;
    left: -71px;
    width: 368px;
    height: 359px;
    transform: rotate(-12deg);
  }

  .formLeftTwo {
    top: 2492px;
    left: -29px;
    width: 176px;
    height: 430px;
  }

  .formRightTwo {
    bottom: -99px;
    right: -100px;
    width: 457px;
    height: 189px;
  }

  .form {
    margin-top: 60px;
    padding: 40px 70px;
  }

  .form .form__title {
    font-size: 20px;
  }

  .form .form__text {
    font-size: 18px;
    text-align: center;
  }

  .input-container input {
    padding: 16px 18px;
    border-radius: 20px;
    font-size: 14px;
  }

  .input-container input + .title-input {
    font-size: 14px;
  }

  .input-container input ~ .error {
    left: 20px;
    font-size: 10px;
  }

  .input-container input:focus + .title-input {
    font-size: 10px;
  }

  .input-container input:not(:placeholder-shown) + .title-input {
    font-size: 10px;
  }

  .textarea-container .textarea {
    padding: 16px 18px;
    height: 70px;
    padding-top: 16px;
    border-radius: 20px;
    font-size: 14px;
  }

  .textarea-container .textarea + .title-input {
    font-size: 14px;
  }

  .textarea-container .textarea:focus + .title-input {
    font-size: 10px;
  }

  .textarea-container .textarea:not(:placeholder-shown) + .title-input {
    font-size: 10px;
  }

  .it2b-logo {
    width: 539px;
    height: 265px;
  }

  .languages {
    margin-right: 160px;
  }

  .greeting-text {
    margin-top: 357px;
    padding-bottom: 322px;
  }

  .greeting-text .img-circle-i {
    display: block;
    top: -200px;
    left: -53px;
  }

  .show-portfolio {
    position: absolute;
    right: 137px;
    bottom: 235px;
    width: 90px;
    height: 90px;
  }

  .show-portfolio .text:before {
    width: 218px;
    height: 218px;
    top: -67px;
    left: -62px;
  }

  .show-portfolio:after {
    left: calc(50% - 5px);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid #F0F0F3;
  }

  .section-headline {
    width: 568px;
    height: 262px;
    top: 26px;
    left: -155px;
  }

  .section-number:before {
    top: 109px;
    right: 2px;
    font-size: 90px;
  }

  .about {
    padding-top: 298px;
  }

  .about .about-text {
    font-size: 20px;
    line-height: 34px;
  }

  .about .about-text:not(:last-child) {
    margin-bottom: 38px;
  }

  .features {
    flex-direction: row;
    margin-top: 146px;
  }

  .features .feature:not(:last-child) {
    margin-bottom: 0;
  }

  .features .feature__text {
    margin-top: 34px;
    width: 180px;
    font-size: 16px;
    line-height: 21px;
  }

  .features .feature__img {
    width: 100px;
    height: 100px;
  }

  .important {
    padding: 46px 90px;
    font-size: 20px;
    line-height: 23px;
  }

  .block-services {
    padding-top: 268px;
  }

  .services .services__item {
    width: 500px;
    padding-left: 145px;
    font-size: 16px;
    line-height: 21px;
  }

  .services .services__item:not(:last-child) {
    margin-bottom: 49px;
  }

  .services .services__item:before {
    left: 93px;
    width: 15px;
    height: 15px;
  }

  .header {
    flex-direction: row !important;
  }

  .hamburger {
    display: none !important;
  }

  .logotype {
    display: block !important;
    margin-left: 8px;
  }

  .logotype__logo {
    width: 67px;
  }

  .menu {
    margin-left: 14px;
  }

  .menu .logotype {
    display: none !important;
  }

  .menu .menu__list {
    flex-direction: row;
    align-items: center;
  }

  .menu .menu__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .menu .menu__link {
    font-size: 16px;
  }

  .change-theme {
    top: -49px;
  }

  .change-theme svg {
    bottom: 20px;
    left: 13px;
    width: 15px;
    height: 16px;
  }

  .accessibility {
    top: -49px;
    right: 62px;
  }

  .accessibility svg {
    bottom: 20px;
    left: 3.5px;
    width: 29px;
    height: 14px;
  }

  .footer .menu-footer__list:not(:last-child) {
    margin-right: 70px;
  }

  .footer .menu-footer__title {
    font-size: 14px;
  }

  .footer .menu-footer__link {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    margin: 0 50px;
  }

  .container {
    width: 805px;
  }

  .section--down-right-line {
    padding-bottom: 213px;
  }

  .headline-primary {
    margin: 132px 0;
    margin-left: 0px;
    margin-bottom: -50px;
    font-size: 24px;
  }

  .headline-primary br {
    display: none;
  }

  .button {
    padding: 12px 25px;
    font-size: 18px;
  }

  .formRight {
    top: 0;
    right: -207px;
    width: 473px;
    height: 457px;
    transform: rotate(5deg);
  }

  .formLeft {
    top: 453px;
    left: -124px;
    width: 429px;
    height: 418px;
    transform: unset !important;
  }

  .formLeftTwo {
    top: 2492px;
    left: -29px;
    width: 235px;
    height: 575px;
  }

  .formRightTwo {
    bottom: -124px;
    right: -220px;
    width: 763px;
    height: 332px;
  }

  .form {
    margin-top: 60px;
    padding: 40px 80px;
  }

  .form .form__title {
    font-size: 24px;
  }

  .input-container input {
    padding: 19px 20px;
    border-radius: 20px;
    font-size: 16px;
  }

  .input-container input + .title-input {
    font-size: 16px;
  }

  .input-container input ~ .error {
    left: 20px;
    font-size: 12px;
  }

  .input-container input:focus + .title-input {
    font-size: 12px;
  }

  .input-container input:not(:placeholder-shown) + .title-input {
    font-size: 12px;
  }

  .textarea-container .textarea {
    padding: 19px 20px;
    height: 100px;
    padding-top: 16px;
    border-radius: 20px;
    font-size: 16px;
  }

  .textarea-container .textarea + .title-input {
    top: 19px;
    font-size: 16px;
  }

  .textarea-container .textarea:focus + .title-input {
    font-size: 12px;
  }

  .textarea-container .textarea:not(:placeholder-shown) + .title-input {
    font-size: 12px;
  }

  .it2b-logo {
    width: 605px;
    height: 297px;
  }

  .languages {
    margin-right: 275px;
  }

  .greeting-text {
    margin-top: 298px;
    padding-bottom: 158px;
  }

  .greeting-text .img-circle-i {
    top: -160px;
    left: -51px;
  }

  .show-portfolio {
    position: absolute;
    right: 110px;
    bottom: 123px;
    width: 100px;
    height: 100px;
  }

  .show-portfolio .text:before {
    width: 221px;
    height: 221px;
    top: -61px;
    left: -61px;
  }

  .show-portfolio:after {
    left: calc(50% - 8px);
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 23px solid #F0F0F3;
  }

  .section-headline {
    top: 0px;
    left: -187px;
    width: 718px;
    height: 404px;
  }

  .section-number:before {
    top: 152px;
    right: 12px;
    font-size: 100px;
  }

  .about {
    padding-top: 330px;
  }

  .about .about-text {
    font-size: 22px;
    line-height: 40px;
  }

  .features {
    flex-direction: row;
    margin-top: 134px;
  }

  .features .feature__text {
    margin-top: 34px;
    width: 244px;
    font-size: 18px;
    line-height: 26px;
  }

  .features .feature__img {
    width: 120px;
    height: 120px;
  }

  .important {
    padding: 46px 155px;
    font-size: 20px;
    line-height: 23px;
  }

  .down-line-right {
    width: 284px;
    height: 221px;
    right: -73px;
  }

  .down-line-left {
    width: 284px;
    height: 221px;
    left: -71px;
    bottom: 2px;
  }

  .block-services {
    padding-top: 279px;
  }

  .services .services__item {
    width: unset;
    padding-left: 110px;
    font-size: 18px;
    line-height: 21px;
  }

  .services .services__item:before {
    left: 56px;
    width: 20px;
    height: 20px;
  }

  .ss-main {
    width: 90px !important;
    font-size: 14px;
  }

  .logotype__logo {
    width: 77px;
  }

  .menu {
    margin-left: 27px;
  }

  .menu .menu__item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .menu .menu__link {
    font-size: 18px;
  }

  .change-theme {
    top: -26px;
    right: 196px;
    width: 58px;
  }

  .change-theme svg {
    bottom: 33px;
    left: 17px;
    width: 22px;
    height: 23px;
  }

  .change-theme .sun {
    bottom: 31px;
    left: 14px;
  }

  .accessibility {
    top: -26px;
    right: 106px;
    width: 58px;
  }

  .accessibility svg {
    bottom: 34px;
    left: 6.5px;
    width: 44px;
    height: 22px;
  }

  .footer {
    padding: 27px 20px;
  }

  .footer .menu-footer__list:not(:last-child) {
    margin-right: 90px;
  }

  .footer .menu-footer__title {
    font-size: 16px;
  }

  .footer .menu-footer__item:not(:last-child) {
    margin-bottom: 5px;
  }

  .footer .menu-footer__link {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    margin: 0 125px;
  }

  .container {
    width: 1044px;
  }

  .button {
    padding: 14px 30px;
    font-size: 22px;
  }

  .formRight {
    top: 0;
    right: -200px;
    width: 658px;
    height: 635px;
    transform: unset;
  }

  .formLeft {
    top: 365px;
    left: -124px;
    width: 566px;
    height: 551px;
    transform: rotate(-7deg) !important;
  }

  .formLeftTwo {
    top: 2438px;
    left: -260px;
    width: 734px;
    height: 714px;
  }

  .formRightTwo {
    bottom: -142px;
    right: -220px;
    width: 763px;
    height: 494px;
    object-fit: cover;
  }

  .form {
    margin-top: 60px;
    padding: 40px 100px;
  }

  .input-container input {
    padding: 19px 20px;
    border-radius: 20px;
    font-size: 18px;
  }

  .input-container input + .title-input {
    font-size: 18px;
  }

  .input-container input ~ .error {
    bottom: -22px;
    left: 20px;
    font-size: 14px;
  }

  .textarea-container .textarea {
    padding: 19px 20px;
    height: 115px;
    padding-top: 16px;
    border-radius: 20px;
    font-size: 18px;
  }

  .textarea-container .textarea + .title-input {
    font-size: 18px;
  }

  .it2b-logo {
    width: 619px;
    height: 331px;
  }

  .languages {
    margin-right: 355px;
  }

  .greeting-text {
    margin-top: 283px;
    padding-bottom: 190px;
  }

  .greeting-text .img-circle-i {
    top: -103px;
    left: 46px;
  }

  .show-portfolio {
    right: 133px;
    bottom: 253px;
  }

  .section-headline {
    top: -81px;
    left: -231px;
    width: 869px;
  }

  .section-number:before {
    top: 54px;
    right: 8px;
    font-size: 144px;
  }

  .about {
    padding-top: 211px;
  }

  .about .about-text {
    font-size: 24px;
    line-height: 43px;
  }

  .features .feature__img {
    width: 150px;
    height: 150px;
  }

  .important {
    padding: 46px 255px;
    font-size: 24px;
    line-height: 37px;
  }

  .down-line-right {
    width: 483px;
    height: 335px;
    right: -168px;
    bottom: -70px;
  }

  .down-line-left {
    width: 503px;
    height: 526px;
    left: -104px;
    bottom: -70px;
  }

  .block-services {
    padding-top: 264px;
  }

  .services .services__item {
    padding-left: 75px;
  }

  .services .services__item:before {
    left: 22px;
  }

  .logotype__logo {
    width: 105px;
  }

  .menu {
    margin-left: 33px;
  }

  .menu .menu__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }

  .change-theme {
    top: -20px;
    right: 282px;
  }

  .accessibility {
    top: -20px;
    right: 192px;
  }

  .footer {
    padding: 27px 31px;
  }

  .footer .menu-footer__list:not(:last-child) {
    margin-right: 139px;
  }

  .footer .menu-footer__title {
    margin-bottom: 20px;
  }

  .footer .menu-footer__item:not(:last-child) {
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1640px) {
  .wrapper {
    margin: 0 275px;
  }

  .container {
    width: 1322px;
  }

  .headline-primary {
    margin: 126px 0;
    margin-bottom: -50px;
    text-align: start;
  }

  .headline-primary br {
    display: none;
  }

  .formLeft {
    top: 231px;
  }

  .formLeftTwo {
    top: 2486px;
    left: -195px;
  }

  .greeting-text {
    margin-top: 230px;
    padding-bottom: 142px;
  }

  .greeting-text .img-circle-i {
    top: -120px;
    left: 166px;
  }

  .show-portfolio {
    right: 276px;
    bottom: 259px;
  }

  .section-headline {
    left: -159px;
  }

  .section-number:before {
    right: 56px;
  }

  .about {
    padding-top: 174px;
  }

  .about .about-text {
    line-height: 44px;
  }

  .features .feature__text {
    width: 200px;
    line-height: 28px;
  }

  .features .feature__img {
    width: 180px;
    height: 180px;
  }

  .important {
    padding: 46px 280px;
  }

  .down-line-right {
    right: -106px;
  }

  .down-line-left {
    left: -62px;
  }

  .block-services {
    padding-top: 244px;
  }

  .services .services__item {
    padding-left: 36px;
  }

  .services .services__item:not(:last-child) {
    margin-bottom: 51px;
  }

  .services .services__item:before {
    left: -17px;
  }

  .change-theme {
    right: 421px;
  }

  .accessibility {
    right: 332px;
  }

  .footer {
    padding: 27px 82px;
  }
}

@media screen and (max-width: 768px) {
  .ss-main {
    width: 90px !important;
    font-size: 14px;
  }

  .header {
    flex-direction: column-reverse;
  }

  .menu .logotype__logo {
    width: 70px;
  }

  .change-theme .sun {
    bottom: 16px;
    left: 7.5px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .section--down-left-line {
    padding-bottom: 60px;
  }

  .form .form__content {
    margin-top: 30px;
  }

  .page-dark .menu {
    background: #252525;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  }

  .hamburger {
    display: block;
  }

  .logotype {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    padding: 80px 20px 24px;
    top: 0;
    left: 0;
    width: 50%;
    height: 270px;
    background: #F0F0F3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    z-index: 9999;
  }

  .menu.menu--close {
    display: none;
  }
}
/*# sourceMappingURL=maps/main.css.map */
